h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body,
html {
  overflow-x: hidden;
}

.header-icons {
  width: 100%;
  color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-position {
  display: flex;
  vertical-align: middle;
}

.search-icon {
  display: block;
  padding: 0 20px;
}

.space {
  display: block;
  padding: 0 20px;
}

.subscribe {
  background-color: rgb(50, 104, 145);
  border: rgb(0, 60, 105);
  padding: 7px 30px;
  position: relative;
  font-size: 10px;
  color: white;
  border-radius: 5px;
}

.login {
  padding: 7px 15px;
  background-color: rgb(50, 104, 145);
  border: rgb(0, 60, 105);
  position: relative;
  font-size: 10px;
  color: white;
  border-radius: 5px;
}

.reveal {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

.social-icons {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.social-icons li {
  list-style: none;
  vertical-align: middle;
}

.social-link {
  padding-right: 2rem;
}

.social-link a {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #eee;
}

.article-image {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.main-image {
  width: 100%;
}

article {
  width: 50%;
  margin: 0 auto;
}

.author {
  padding: 20px 0;
}

.date {
  padding: 20px 0;
}

.body-article {
  color: rgb(51, 51, 51);
  font-size: 1.2rem;
}

.article-button-1 {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.article-button-2 {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(50, 104, 145);
}

.article-line {
  width: 15%;
}

aside {
  position: absolute;
  width: 20%;
  right: 55px;
  margin: auto;
  margin-top: -30%;
}

.title-editor {
  border-bottom: 1px solid rgb(100, 100, 100);
}

.editor-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-img {
  width: 30%;
  margin: 10px;
}

.editor-img-cap {
  color: rgb(51, 51, 51);
  font-size: 14px;
}

.topic {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(51, 51, 51);
  margin: 20px 0;
}