h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body,
html {
  overflow-x: hidden;
}

.mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 69;
  background-color: white;
  padding-top: -10px;
}

.header-icons {
  background-color: white;
  border-bottom: 1px solid rgb(221, 215, 215);
  height: 45px;
  color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-cosmos {
  font-weight: bolder;
}

.left-position {
  display: flex;
  vertical-align: middle;
}

.search-icon {
  display: block;
  padding: 0 20px;
}

.space {
  display: block;
  padding: 0 20px;
}

.header-logo {
  margin-right: 15px;
}

.side-buttons {
  margin-right: 30px;
}

.subscribe {
  background-color: rgb(50, 104, 145);
  border: rgb(0, 60, 105);
  padding: 10px 25px;
  position: relative;
  font-size: 10px;
  color: white;
  border-radius: 5px;
}

.login {
  padding: 10px 10px;
  background-color: rgb(50, 104, 145);
  border: rgb(0, 60, 105);
  position: relative;
  font-size: 10px;
  color: white;
  border-radius: 5px;
}

.reveal {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

.social-icons {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.social-icons li {
  list-style: none;
  vertical-align: middle;
}

.social-link {
  padding-right: 2rem;
}

.social-link a {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #eee;
}

.article-image {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.main-image {
  width: 100%;
}

article {
  width: 50%;
  margin: 0 auto;
}

.author {
  padding: 20px 0;
}

.date {
  padding: 20px 0;
}

.body-article {
  color: rgb(51, 51, 51);
  font-size: 1.3rem;
  line-height: 2;
}

.article-button-1 {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.article-button-2 {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(50, 104, 145);
}

.article-line {
  width: 15%;
}

.champ {
  color: #567b95;
  text-decoration: underline;
}

.editor-aside {
  position: absolute;
  width: 20%;
  right: 55px;
  margin: auto;
  margin-top: -30%;
}

.title-editor {
  border-bottom: 1px solid rgb(100, 100, 100);
}

.editor-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-img {
  width: 30%;
  margin: 10px;
}

.editor-img-cap {
  color: rgb(51, 51, 51);
  font-size: 14px;
}

.topic {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(51, 51, 51);
  margin: 20px 0;
}

.inflation-section {
  width: 70%;
  position: relative;
  margin: 5% auto;
}

.sub-title-article {
  line-height: 1.2;
  color: rgb(100, 100, 100);
}

.inflation {
  background: url(../images/inflation-945.png);
  background-repeat: no-repeat;
  background-size: 1000px 648px;
  width: 1000px;
  height: 648px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inflation-text {
  display: block;
  margin-top: 17%;
  text-align: left;
  width: 24%;
  top: unset;
  font-size: 1.1rem;
  line-height: 1;
  color: rgb(34, 33, 33);
}

.article-hr {
  width: 10%;
  border: 1px solid rgb(100, 100, 100);
  margin-left: 15%;
}

.larry {
  margin-left: 15%;
  margin-bottom: 5%;
  color: rgb(94, 92, 92);
}

.youtube-section {
  padding-bottom: 30px;
}

.youtube-caption {
  font-size: 1rem;
}

.cosmos-img {
  padding-bottom: 30px;
}

.caption-bicep {
  font-size: 1rem;
  color: #555;
}

.credit {
  color: grey;
  display: block;
}

.image-caption {
  color: grey;
}

.youtube {
  margin: 0 auto;
  width: 650px;
  height: 400px;
}

.button {
  background-color: #567b95;
  text-align: center;
  padding: 10px 60px;
  border-radius: 3px;
  border: 1px solid rgb(50, 104, 145);
  color: white;
  transition-duration: 0.4s;
}

.bottom-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
}

.newsletter-section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40%;
}

.news-article {
  width: 73%;
  margin: 0 auto;
  float: left;
}

.header-news {
  border-top: 1px solid black;
  padding: 10px 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.port {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.news-small {
  color: #555;
}

.captiton-title {
  padding-top: 10px;
  font-size: 0.8rem;
}

.caption-body {
  padding-bottom: 10px;
}

.see {
  padding-top: 50px;
  color: #567b95;
}

.see-a {
  color: #567b95;
}

.most-popular {
  width: 24%;
  float: right;
}

.popular-text {
  padding: 7px 0 13px 0;
  line-height: 1.5;
  border-top: 1px solid black;
  font-size: 14px;
  color: rgb(51, 51, 51);
}

.user-title {
  color: rgb(194, 191, 191);
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5px;
  background-color: #081d35;
}

textarea,
input {
  padding: 5px 50px;
  margin-bottom: 10px;
}

label {
  color: white;
  padding: 15px;
  font-size: 1.2rem;
}

.sub-form {
  padding-left: 10px;
}

.user-form {
  background-color: rgb(50, 104, 145);
  border-radius: 10px;
  border: 7px solid  #081d35;
  width: 300px;
  text-align: center;
  height: 500px;
}

input,
input[placeholder] {
  text-align: center;
}

.form-items {
  padding-top: 10px;
}

.list-form {
  display: inline;
}

.button:hover {
  background-color: #081d35;
  color: white;
  text-align: end;
}

.article-img {
  width: 60px;
  height: 60px;
}

.image-news {
  display: flex;
  justify-content: space-between;
}

.news-border {
  width: 28%;
  padding: 10px;
  height: auto;
  border: 1px solid rgb(221, 215, 215);
}

.plus {
  margin-left: 20px;
}

.astronomy {
  border-top: 1px solid black;
  padding: 10px 0;
}

.main-astronomy {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.astronomy-flex {
  width: 30%;
  padding-bottom: 30px;
}

.astro {
  width: 260px;
  height: 180px;
}

.title-fig {
  color: #555;
  text-align: end;
}

.astro-text {
  width: 100%;
}

.anchor-astro {
  color: #555;
  font-size: 12px;
}

.footer-section {
  margin: 0 auto;
  width: 95%;
  margin-top: 60%;
}

.footer-first-items {
  list-style: none;
  border-top-style: double;
  border-color: rgb(110, 108, 108);
  border-bottom: 1px solid rgb(110, 108, 108);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 10px;
}

.home {
  color: #567b95;
}

.mobile-footer {
  list-style: none;
  color: rgb(100, 100, 100);
  font-size: 0.8rem;
  font-weight: bolder;
}

.footer-text {
  font-size: 0.7rem;
  color: rgb(110, 108, 108);
}

.mobile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}

.more {
  display: none;
}

.sub-list-base {
  list-style: none;
  border-left: 1px solid rgb(194, 191, 191);
  padding-left: 15px;
  color: rgb(51, 51, 51);
  font-size: 0.8rem;
  line-height: 1.8;
}

.listings {
  line-height: 2;
}

.edu {
  border-bottom: 1px solid rgb(184, 174, 174);
  line-height: 2;
}

.lister {
  list-style: none;
  border-left: 1px solid rgb(194, 191, 191);
  padding-left: 15px;
  color: rgb(51, 51, 51);
  font-weight: bolder;
  font-size: 0.8rem;
}

.aside-icons {
  padding-right: 5px;
}

.lister-f {
  list-style: none;
  font-weight: bolder;
  color: black;
  line-height: 3;
}

.subscribe-aside {
  border-left: 1px solid rgb(194, 191, 191);
  list-style: none;
  color: rgb(100, 100, 100);
  font-weight: bolder;
  padding-left: 15px;
}

.sub-list {
  display: block;
  width: 100%;
  padding-left: 0;
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 1.8;
}

ul.sub-list li {
  list-style: none;
}

.bottom-list {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.footer-text-1 {
  text-align: right;
  width: 20%;
}

.footer-items {
  list-style: none;
  display: inline-block;
}

.footer-down {
  width: 70%;
  text-align: end;
  margin: 0;
  padding-left: 0;
  padding-bottom: 5%;
}

.footer-list {
  font-size: 0.7rem;
  color: rgb(110, 108, 108);
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  padding-top: 30px;
  background-color: white;
  border-top: 1px solid rgb(100, 100, 100);
}

.sub-footer {
  margin-left: 40%;
}
